.contact {
  padding-bottom: 45px;
}

.hero {
  padding-top: 30px;
}

.button {
  width: 182px !important;
}

.search {
  margin-top: 12px;
}

.aboutus {
  text-align: center;
}

.hide {
  display: none;
}
